
logs/
*/logs/
data_simulation/raw_load_data.sql
dataset/
dashboards/


# dbt
dbt/customer_360/target/
dbt/customer_360/dbt_packages/
dbt/logs/
dbt/customer_360/analyses/
dbt/customer_360/seeds/
dbt/customer_360/package-lock.yml


# Python
__pycache__/
*.pyc

# Virtual env
.venv/
env/

# Airflow
airflow/logs/
airflow/dags/customer_360_dag_bash.py


# OS
.DS_Store

# Secrets
.env
profiles.yml

